@model ElGalloDeOro.Models.Mascota

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int fotoPerfil = 0;
    if (Model.archivos.Count > 0)
    {
        fotoPerfil = Model.archivos.Single(foto => foto.tipo == "Perfil").archivoID;
    }

    
}

<h2>Detalles</h2>

<!-- Main -->
<div id="main">
    <div class="inner">
        <h2><strong>Informacion General</strong></h2>
        <span style="background-image:url(../../images/pic13.jpg)" class="image main">

            @if (fotoPerfil == 0)
            {
                <img style="width:300px; height:300px; margin:auto;" src="~/images/perfilDefecto.jpeg" />
            }
            else
            {
                <img style="width:300px; height:300px; margin:auto;" src="@Url.Action("download", "Archivos", new { id = fotoPerfil })" />
            }
        </span>

    </div>
</div>


<div class="content">
    <div class="x" >
        <form method="post" class="form-group" action="Adoptar">

            <h4>Mascota</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.nombre)</strong>  
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.nombre)</strong>
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.raza)</strong>  
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.raza)</strong>  
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.color)</strong>  
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.color)</strong> 
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.sexo)</strong>    
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.sexo)</strong>  
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.edad)</strong>   
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.edad)</strong> 
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.vacuna)</strong>   
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.vacuna)</strong>  
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.enfermded)</strong>  
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.enfermded)</strong>  
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.fechaEsterilizacion)</strong> 
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.fechaEsterilizacion)</strong>  
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.Entrada)</strong>   
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.Entrada)</strong>  
                </dd>

                <dt>
                    <strong style="color:white;">@Html.DisplayNameFor(model => model.Salida)</strong>  
                </dt>

                <dd>
                    <strong style="color:grey;">@Html.DisplayFor(model => model.Salida)</strong>  
                </dd>

            </dl>




        </form>
    </div>
</div>
<div class="form-group ">
    @*<form action="Adoptar" method="post">

             <input type="submit" value="Adoptar"  method="post" id="adoptar" name="adoptar" class="special" />
            <button class="btn btn-primary">Adoptar</button><br />

        </form>*@
    @using (Html.BeginForm("Adoptar", "Mascotas", IsPost))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.mascotaID)
        @Html.HiddenFor(b => b.User.Id)
        <div class="form-actions no-color">
            <br /> <br />
            <input type="submit" value="Adoptar" class="btn btn-primary" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>







<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.mascotaID })
    }
    @Html.ActionLink("Volver atrás", "Index")
</p>
