@model IEnumerable<ElGalloDeOro.Models.Persona>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Crear nuevo cliente", "Create")
    </p>
}


        <table class="table-responsive table-hover datatablejs">            
                <thead style="background-color:#f6e984">
                    <tr>
                        <th>
                            Nombre completo
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.telefono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.direccion)
                        </th>
                        <th>
                            Mascotas
                        </th>
                        <th>
                            Número de citas
                        </th>

                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(item.nombres + " " + item.apellidoP + " " + item.apellidoM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.direccion)
                            </td>
                            <td>
                                @(item.mascota.Count())
                            </td>
                            <td>
                                @(item.citas.Count())
                            </td>

                            @if (User.IsInRole("Admin"))
                {
                                <td>
                                    @Html.ActionLink("Nueva Cita", "Create", "Citas", new { id = item.personaID }, null) <br />
                                    @Html.ActionLink("Nueva Mascota", "Create", "MascotaClientes", new { id = item.personaID }, null)<br />
                                    @Html.ActionLink("Editar", "Edit", new { id = item.personaID }) <br />
                                    @Html.ActionLink("Detalles", "Details", new { id = item.personaID }) <br />
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.personaID })
                                </td>
                            }

                        </tr>
                    }
                </tbody>


</table>

