@model IEnumerable<ElGalloDeOro.Models.MascotaClientes>

@{
    ViewBag.Title = "Mascotas Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nueva mascota", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.personas.nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreMascota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Raza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.señasParticulares)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        int fotoPerfilID = 0;
        if (item.imagenes.Count > 0)
        {
            fotoPerfilID = item.imagenes.SingleOrDefault(foto => foto.tipo == "Perfil").imagenID;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.personas.nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.señasParticulares)
            </td>
            <td>
                @if (fotoPerfilID == 0)
                {
                    <img onmouseover="this.width = 500; this.height = 400;" onmouseout="this.width = 150; this.height = 160;" src="/Content/Img/sinfoto.gif" width="150" height="160" />
                }
                else
                {
                    <img onmouseover="this.width = 500; this.height = 400;" onmouseout="this.width = 150; this.height = 160;" src="@Url.Action("download", "Imagen", new { id = fotoPerfilID })" width="150" height="160" />
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.mascotaID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.mascotaID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.mascotaID })
            </td>
        </tr>
    }

</table>